* {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start:0em;
	box-sizing:border-box;
}

a {
	text-decoration: none;
}

li {
	list-style:none;
}

.navbar {
	position: fixed;
	z-index: 10;
	top:0;
	width:100%;
	min-height:88px;
	background-color:rgba(255,255,255, .23);

	&__wrap {
		display: flex;
		align-items:center;
		min-height:88px;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		align-items:center;
	}

	.logo {
		@include font(bringinregular, normal, 29px, #36aeea, linespace(44,29));

		&_colored {
			color:#95a5ad;
		}
		margin-left:15px;
	}

	.main-menu {
		display: flex;
		text-transform: uppercase;

		&__link {
			margin-left:25px;
			@include font(Open Sans, 700, 12px, #9daeb6, linespace(44,12));

			&_no-margin {
				margin-left:0px;
			}

			&:hover {
				border-bottom: 2px solid #36aeea;
				padding-bottom:6px;
			}
		}
	}

	.call-us {
		text-transform: uppercase;
		@include font(Raleway, 700, 12px, #36aeea, linespace(44,12));
		letter-spacing: letspace(120,12);
		padding:3px 41px;
		border:3px solid #36aeea;
		border-radius: 3px;
		margin-left:40px;
	}
}

.header {
	background-image: url(../images/header-background.jpg);
	min-height:700px;
	background-size: 100% 100%;

	.header-content {
		max-width:550px;
		position: relative;
		top:220px;
		left:45px;
		min-height:200px;
		display: flex;
		flex-wrap:wrap;
		align-items:center;

		&__title {
			text-transform: uppercase;
			@include font(Open Sans, 700, 50px, #fff, 0.6);
			letter-spacing: letspace(120,50);

			&_font {
				@include font(bringinregular, normal, 66px, #56c7ff, linespace(40,26));
				text-transform: none;
				letter-spacing: letspace(20,66);

			}
		}

		&__description {
			@include font(Open Sans, 400, 18px, rgba(255,255,255,.75), linespace(26,18));
			margin-bottom:30px;
			margin-right:30px;
		}
		
		&__button {
			@include font(Raleway, 700, 14px, #fff, linespace(44,14));
			text-transform: uppercase;
			padding:12px 75px;
			border-radius: 3px;
			background-color: #36aeea;
			text-align: center;
			letter-spacing: letspace(160,14);
		}
	}
}

.hamburger {
  width: 17px;
  height: 14px;
  display: none;
  &__line {
    stroke: #000;
    stroke-width: 2;  
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width:1919px) {
	.header {
		background-image: url(../images/header-background-little.jpg);
	}

}

@media screen and (max-width:996px) {
	.hamburger {
		display: block;
	}
	
	.navbar .main-menu {
		display: none;
	}

	.navbar .main-menu_opened {
		display: block;
		position: absolute;
		top:67px;
		right:-15px;
		background-color:rgba(255,255,255, .23);
		min-width:150px;
		padding:15px;
		text-align:right;

		.main-menu__link {
			margin-left:0px;
			color:#000;
		}
	}
}

@media screen and (max-width:485px) {
	.call-us {
		display: none;
	}
	.navbar-content {
		justify-content: flex-end;
	}
	.navbar .main-menu_opened {
		top:51px;
	}
	.header .header-content {
		left:10px;

		&__title {
			font-size:40px;
			letter-spacing: letspace(120,40);
			line-height:1;

			&_font {
				font-size:56px;
				letter-spacing: letspace(20,56);

			}
		}

		&__button {
			font-size:12px;
			padding:12px 75px;
			letter-spacing: letspace(160,12);
		}
	}
}



