.reviews {
	min-height:390px;
	z-index:20;
	margin-top:135px;
}

.review {
	margin:80px 10px 0;

	&-text {
		@include font(Open Sans, 400, 18px, #bcbcbc, linespace(33, 18));
		margin:0;
	}

	&-person {
		margin-top:25px;
		display: flex;
		align-items:center;

		&__description {
			@include font(Open Sans, 700, 16px, #36aeea, linespace(33, 18));
			margin-left:15px;
			z-index:2;

			&_position {
				font-weight:300;
			}
		}

		&__photo {
			z-index:2;
		}
	}
}
