.about-us {
	background: #f6f4f4;

	&-wrap {
		background: url(../images/about-us__background.png) no-repeat;
		background-position: 115px 20px;
		min-height:665px;
	}
	
	&-image {
		position: relative;
		top:-40px;
		left:-15px;
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:flex-start;
		min-height:665px;

		&__description {
		@include font(Open Sans, 400, 14px, #949494, linespace(26,14));
		margin:10px 0 30px;
		}

		&__button {
			@include font(Open Sans, 700, 12px, #fff, linespace(43,12));
			letter-spacing: letspace(120,12);
			text-transform: uppercase;
			padding:5px 24px;
			border-radius: 3px;
			background-color: #36aeea;
			text-align: center;
		}
	}
}

.section-title {
	margin-top:65px;
	text-align:center;

	&_margin {
		text-align:inherit;
		margin:0px;
	}

	&_no-margin {
		margin-top:0px;
	}

	&__content {
		text-transform: uppercase;
		@include font(Open Sans, 700, 30px, #2c2e37, linespace(43,30));
		letter-spacing:letspace(100, 30);
		margin-top:12px;
		
		&_little-font {
			font-size:20px;
		}
	}
}

@media screen and (max-width:1200px) {
	.about-us-content__description {
		max-width:480px;
	}

	.about-us-image {
		display: none;
	}
}