.travels {
	min-height:1020px;
	background:url(../images/world-dots-blue.png) no-repeat;
	background-position: 195px 90px;

	&-wrap {
		background-image: url(../images/travels-background.jpg);
		background-repeat: no-repeat;
		background-position: bottom;
	}
	
	.booklets {
		display: flex;
		justify-content: space-between;
		margin-top:95px;
	}

	&-booklet {
		width:200px;
		height:380px;
		padding:15px 22px 0;
		display: flex;
		flex-wrap:wrap;

		&_1 {
			background: url(../images/booklet-carpathian.png);
		}

		&_2 {
			background: url(../images/booklet-alps.png);
		}

		&_3 {
			background: url(../images/booklet-pyrenees.png);
		}

		&_4 {
			background: url(../images/booklet-rocky.png);
		}

		&_5 {
			background: url(../images/booklet-kavkaz.png);
		}

		&__description {
			align-self:flex-end;
		}

		&__title {
			@include font(Open Sans, 400, 28px, #fff, linespace(63, 28));
		}

		&__text {
			@include font(Open Sans, 400, 16px, #fff, linespace(22, 16));
		}

		.travel-price {
			height:62px;
			width:100%;
			align-self:flex-end;
			display: flex;
			justify-content: space-between;
			align-items:center;

			&__old {
				@include font(Open Sans, 400, 18px, #fff, linespace(22, 18));
				text-decoration: line-through;
			}

			&__new {
				@include font(Open Sans, 800, 26px, #fff, linespace(22, 26));
			}
		}
	}
}

@media screen and (max-width:1199px) {
	.travels {
		background:none;
		.booklets {
			flex-wrap:wrap;
			justify-content: space-around;
		}
	}

	.travels-booklet {
		margin-bottom:20px;
	}
}