.articles {
	min-height:940px;
	background:#fff;
	padding-left:20px;

	&__photo {
		max-width:100%;

		&-wrap  {
			font-size:0px;
		}
	}

	&__wrap {
		margin-top:70px;
	}
}

.article {
	height:330px;
	display: flex;
	flex-direction:column;
	text-align:center;
	justify-content:space-around;
	max-width: 320px;
	margin: 20px auto;

	&__subtitle {
		@include font(Open Sans, 700, 11px, #0083b3, linespace(12.5, 11));
		letter-spacing: letspace(150, 11);
		text-transform: uppercase;
		&_bright {
			color:#16b5ef;
		}
	}

	&__title {
		@include font(Open Sans, 700, 16px, #212121, linespace(24, 16));
		letter-spacing: letspace(150, 16);
		text-transform: uppercase;
	}

	&__text {
		@include font(Open Sans, 400, 14px, #777777, linespace(23, 14));
	}

	&__page {
		font-family:Times;
		font-size:14px;
		color:#212121;
	}
}

@media screen and (max-width:1200px) {
	.articles {
		min-height:800px;
		padding-bottom:50px;
	}
	.article {
		max-height:273px;
	}
}

@media screen and (max-width:768px) {
	.articles__photo-wrap {
		display: none;
	}
}