.gallery {
	background: #f8f9fa;
	display: flex;
	
	&-content {
		margin-top:40px;
		height:100%;
		display: flex;
		flex-wrap:wrap;
		align-content:center;
		text-align:center;
	}

	&-photo {
		margin-top:20px;
		max-width:100%;
	}
}

@media screen and (max-width:480px) {
	.gallery-content_little-screen {
		width:100%;
	}
}